<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Rolling file -->
		<target xsi:type="File"
				name="fileLogger"
				fileName="${basedir}/logs/app-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="fileLogger" />
	</rules>
</nlog>
